
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

header {
  display: flex;
  background:linear-gradient(100.36541992389368deg, 
  rgba(0, 0, 0,1) 20.544270833333332%,rgba(0, 0, 0,1)
  28.46826171875%,rgba(166, 2, 29,1) 78.572265625%);
  justify-content: space-between;

  
}


.logo {
  display: flex;
  
  
}


.logo h1{ padding-left: 40px;
        border-left: solid grey 5px;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding-right: 50px;
  
}
.navbar a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  
}

a:hover {
    background-color: black;
}

body {
  background-color: grey ;
  padding: 0;
  margin: 0;
     
  }
  
  h1{ display: block;
     text-align: center;
     font-size: 60px;
     color: rgb(213, 213, 213); 

     
     }
     
  h2{text-align: center;
    font-size: 60px;
    text-decoration: underline
    }
  
  li{
    display: inline-block;
    text-align: right;
    font-size: 25px
  }
  
  ul{
    display: flex;
    justify-content:space-around;
    margin: 20px;
  }
  
  p{font-size: 25px;
  color: black;
  }
  
.uslocations {
              display: flex;
              justify-content: space-around;
              padding-bottom: 100px;
              
              
             
}
  
.cities{display: flex;
        flex-direction: row;
        position: relative;
      text-align: center;
        color: white;
  
  
}


            
.nyexotic {
              display: flex;
              justify-content: space-around;
              
              
              
  
}
    
.caexotic {
             display: flex;
            justify-content: space-around;
            padding-bottom: 100px;
}
              
  


.main p{ width: 50%;
        margin: auto;
  
  
}

.lineup h1{
                color: black;
                text-decoration: underline;
                font-size: 70px;
  
}

.column{
            display: flex;
            flex-direction: column;
            width: 20%;
            margin: auto;
  
}


section h2{ display: block;
     text-align: center;
     font-size: 60px;
     color: rgb(213, 213, 213); 

     
     }